/* Write your CSS code in this file */
body {
	background: rgb(69, 78, 78);
}

#app {
	width: 75%;
	margin: auto;
	border: 1px solid black;
	background: linear-gradient(darkolivegreen 60%, darkmagenta);
	box-shadow: 5px 10px 18px #888888;
	border-radius: 25px;
}

.text-style {
	color: darkmagenta;
	outline-color: black;
	outline-width: 1px;

	/* Text outline */
	-webkit-text-stroke-width: 0.4px;
	-webkit-text-stroke-color: black;
}

.center {
	margin: auto;
	text-align: center;
}

#feedback-div {
	padding: 10px;
}

/* Biggest text on screen for user */
#main-prompt {
}

/* Supplementary info for user */
#message {
}

#user-input-div {
	padding: 15px;
	/* margin: 5px; */
	/* background-color: blue; */
}

/* Input field */
#guess {
	width: 120px;
	height: 120px;
	border: 2px solid black;
	outline: none;
	display: block;
	font-size: 60px;
	box-shadow: 5px 10px 18px #888888;
	border-radius: 50%;
	background-color: lightgrey;
}

#guess:hover {
	transform: scale(1.2);
}

/* Submit button */
#submit {
	color: gainsboro;
	border: 2 spx solid black;
	margin-top: 25px;
}

#guess-list {
	margin: -10px;
}

/* ul element: previous guesses section */
#history {
	list-style: none;
}

/* li elements: under past guesses */
.past-guess {
	border: 2px solid black;
	margin: 10px;
	display: inline;
	padding: 0 25px;
	font-size: 20px;
	border-radius: 8%;
	background-color: lightgrey;
}

#reset-hint-btn {
	padding-top: 15px;
	padding-bottom: 15px;
}

.button-style {
	color: gainsboro;
	background-color: darkred;
}

.hover-style:hover {
	background-color: crimson;
}

.icon {
	width: 25px;
	height: 25px;
}

#footer {
	width: 75%;
	border: 1px solid black;
	background: rgb(212, 209, 209);
	border-radius: 25px;
}
